.cardContent {
  padding: 1rem;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.25);
  border-radius: 14px;
  background-color: white;
  width: 45%;
  height: 10%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
}

.divam {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-top: 7px;
}

.btnorder {
  width: 15%;
  height: 2.2rem;
  background-color: #8a2b06;
  text-align: center;
  border-radius: 18px;
  border: 1px;
  color: white;
  font-weight: bold;
  margin-left: 10px;
}

.btnclose {
  width: 15%;
  height: 2.2rem;
  background-color: white;
  text-align: center;
  border-radius: 18px;
  border: 1px solid #8a2b06;
  color: #8a2b06;
  font-weight: bold;
}

.btnGroup {
  margin-top: 10px;
  display: flex;
  flex-direction: row-reverse;
}

.btnorder:hover,
.btnorder:active {
  background-color: #5a1a01;
  border-color: #5a1a01;
  color: white;
}
.btnclose:hover,
.btnclose:active {
  background-color: whitesmoke;
  border-color: #5a1a01;
  color: #5a1a01;
}

.txtBold {
  color: black;
  font-weight: bold;
}
